.bg {
  /* The image used */
 background-image: url("https://drive.google.com/uc?export=view&id=1U6L1_CBIyl_CZwOZ_ninkeX0Cn90KC5e");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --ion-color-favorite: #69bb7b;
  --ion-color-favorite-rgb: 105, 187, 123;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255, 255, 255;
  --ion-color-favorite-shade: #5ca56c;
  --ion-color-favorite-tint: #78c288;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

div {
  background: var(--ion-color-favorite);
  color: var(--ion-color-favorite-contrast);
}

ion-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 500px;
  background-color:  #33475b;
  position: relative;
}
